h1
    p CRUD
container.container
    div.content
       form(action="/post", method="post")
            p agrega texto
            div
                input(type="text", name="usuario", id="usuarioP", placeholder="nombre", required)
                input(type="password", name="password", placeholder="password", required)
                input(type="email", name="mail", placeholder="email", required)
                button.btn.btn-primary(type='submit') agregar datos
container.container
    div.content    
        form(action="/delete", method="post")
            p escribe nombre
                div
                    input(type="text", name="usuario", id="usuarioD", placeholder="nombre", required)
                    button.btn.btn-primary(type='submit') borrar
container.container
    div.content    
        form(action="/update", method="post")
            p escribe nombre
                div
                    input(type="text", name="usuario", id="usuarioU", placeholder="nombre", required)
                    input(type="password", name="password", placeholder="password", required)
                    input(type="email", name="mail", placeholder="email", required)
                    button.btn.btn-primary(type='submit') actualizar datos
    div.more