h1 Singup
container
    div
        form(action="/login", method="post")
            div
                label(for="email") email
                input(type="email", name="email" required)
                label(for="password") password
                input(type="password", name="password" required)
                input(type="submit", value="registrar")