h1 Login
container
    div
        form(action="/login", method="post")
            div
                label(for="email") email
                input(type="email", name="email" required)
                label(for="password") password
                input(type="password", name="password" required)
                label(for="singup") registro
                a(href="/singup") aqui
                input(type="submit", value="entrar")