nav.nav
  ul
    li.li
      a.a(href='/') Inicio
    li.li
      a.a(href='/admin') Administrador 
    li.li  
      a.a(href="#") Contacto
    li.li
      a.a(href="#") a. cerca de
    li.li
      a.a(href="#") Opinion