div
    h2 Datos:

div.flex-content
    div.flex-content-li 
        h3 Nombre
        each user in users  
            li #{user.usuario} 
    div.flex-content-li 
        h3 Correo
        each user in users  
            li #{user.mail}
    div.flex-content-li
        h3 Fecha
        each user in users  
            li #{user.fecha}