doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/style.css')
        title= tittle
    body
        include partials/main.pug
        include partials/content.pug
        include partials/tabla.pug
        include partials/footer.pug