/*estilo menu*/

body {
    background: #d0d3d4;
}

.nav {
    position: sticky;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    top: 0;
    background: #34495e;
    color: white;
    border-radius: 2px;
}

.a {
    text-decoration: none;
    color: white;
    font-family: monospace;
}

.li {
    display: inline;
    padding: 25px;
}

footer {
    text-align: center;
}


/*estilo content*/

.container {
    display: flex;
}

.content {
    flex: 4;
}

.more {
    flex: 2;
}

.content>p {
    font-family: serif;
}

.more>p {
    font-family: serif;
}


/* estilo de listas get */

.flex-content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.table th {
    padding: .2em .8em;
    border: 1px solid rgba(20, 50, 90, 0.25);
    background: rgba(0, 102, 255, 0.25);
    text-align: center;
}

.table td {
    padding: .2em .8em;
    border: 1px solid rgba(16, 76, 167, 0.25);
    background: rgba(90, 156, 255, 0.25);
    text-align: left;
}

li {
    list-style: none
}

.flex-content>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 3px 0;
}

.flex-content-li {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;
}

.flex-content-li>li {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 3px 0;
}